RewriteEngine on

# Redirect /terms to /terms.html
RewriteRule ^terms$ /terms.html [L]

# Redirect /policy to /policy.html
RewriteRule ^policy$ /policy.html [L]

# Redirect /invite to /invitepage.html
RewriteRule ^invite$ /invitepage.html [L]

# Redirect /support to /support.html
RewriteRule ^support$ /support.html [L]
